
@{
    ViewBag.Title = "Youtube";
}

<h2 style="text-align:center;"><u>Ohjelmointi oppaita</u></h2>
<link href="~/Youtubetyyli.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4">
        <h3>Video 1 - php-(CRUD) tutorial</h3>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/MyHSqo-gv_Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </div>
    <div class="col-md-4">
        <h3>Muuttuja osa 1</h3>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/z3tvSEQJdgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4" style="padding-right: 20px;">
        <h3>Muuttujat osa 2</h3>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/kIe7gJKvwTg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>If lausekkeet</h3>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/r-9YDAc6jNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h3>For silmukka</h3>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/wpibWkjtEXk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4" style="padding-right: 20px;">
        <h3>Video 6</h3>

    </div>
</div>